html, body{ 
    margin: 0; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
}

#container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(63, 143, 170);
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

#text-input{ 
    width: 80%;
    height: 26px;
    padding: 3px;
    outline: none;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 30px;
}

#text-input:focus{ 
    border: 2px solid rgb(63, 143, 170);;
}

#add{ 
    color: white; 
    background-color:rgb(63, 143, 170);
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 100px ;
    font-weight: 500;
    margin-bottom: 30px;
}

#add:hover{ 
    background-color:rgb(46, 117, 141) ;
}

.Remove-btn{ 
    margin-left: 10px;
    color: white;
    background-color: rgb(219, 72, 72);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.completed{ 
    text-decoration: line-through;
    color: gray;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 200px;
    /* Limit the height of the task list */
    overflow-y: auto;
    /* Enable vertical scrolling */
    margin-bottom: 10px;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

li:hover {
    background-color: #e9e9e9;
}